*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;   
    font-family: 'Titillium Web', sans-serif;
    
}
*::selection{
    background-color: rgb(254, 166, 33);
}
input,textarea:focus,select:focus{
    outline: none;
}

body{
    width: 100%;
    height: 100vh;
}
body::selection{
    background-color: rgb(148, 201, 183);
}
/*-- Default style for all webpages - above --*/

/*-- Style for home page --*/

.cure{   
    width: 100%; 
    padding: 20px;
    height: auto;
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    transition: .2s ease-in-out;
}
.cure:hover{
    background: #636363;
}
.sticky{
    padding: 15px;
    font-size: 18px;
    position: fixed;
}
.sticky .logo img{
    width: 150px;
}
.logo img {
    width: 200px;
}
.cure nav .links a{
    text-decoration: none;   
    margin-right: 5px;
    color: rgba(12, 9, 5, 0.687);
    transition: .3s;
}
.cure nav .links a::after{
    content: '';
    width: 2px;
    height: 20px;
    margin: 10px;
    position: relative;
    top: 5px;
    display: inline-flex;
    align-content: start;
    background-color: rgba(254, 166, 33, 0.689);
}
.cure nav a:hover{
    color: rgb(254, 166, 33);
}

/* hum */
.hum-burger{
    width: 40px;
    height: 10px;
    margin-top: 15px;
    margin-right: 35px;
    display: none;
}

.hum-burger .line1,
.hum-burger .line2,
.hum-burger .line3{
    margin: 2px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    transition: .2s;
}
.opn{
    width: 40px;
    height: 10px;
    margin-top: 15px;
    margin-right: 35px;
    display: none;
}
.opn .line1,
.opn .line2,
.opn .line3{
    margin: 2px;
    height: 4px;
    background-color: rgb(229, 180, 56);
    border: none;
    border-radius: 5px;
    transition: .2s;
}
.opn .line1{
    transform: translateY(180%) rotate(50deg);
}
.opn .line3{
    transform: translateY(-100%) rotate(-50deg);
}
.opn .line2{
    opacity: 0;
}



/* hum */

.container{
    width: 100%;
}
.show-case{
    height: 100vh;
    padding: 10px;
    background-image: linear-gradient(45deg ,rgba(52, 38, 13, 0.719),rgba(0, 0, 0, 0.204)),url(../img/hospital.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    text-align: center;
}
.show-case .info h1{
    font-size: 4em;
    font-family: 'Rubik Mono One', sans-serif;
    color: rgba(254, 166, 33, 0.89);
}
.show-case .info h1::after{
    content: '';
    width: auto;
    height: 1px;
    display: block;
    background-color: rgba(254, 166, 33, 0.89);
}
.info button{
    width: 250px;
    margin-top: 10px;
    padding: 5px;
    color: #ffffffc6;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: rgba(254, 166, 33, 0.89);
    font-size: 20px;
    transition: .2s;
}
.info button:hover{
    color: rgba(254, 166, 33, 0.89);
    background: #fff;
}

/* about-us section */

.about-section{
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
}
.about-section h2{
    margin: 10px;
    padding: 12px;
    border: none;
}
.about-section h2::after{
    content: '';
    width: 100px;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #000;
}
.ab_cure{
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ab_cure .text {
    max-width: 610px;
    line-height: 35px;
}
.ab_cure img{
    max-width: 500px;
    width: 100%;
    height: auto;
}

/* infos section */

.infos{
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(216, 214, 214, 0.418);
}
.infos h2{
    margin-top: 50px;
    margin: 10px;
    padding: 12px;
    border: none;
}

.infos h2::after{
    content: '';
    width: 100px;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #000;
}
.infos .main-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.infos .ms1{
    width: 400px;
    margin: 5px;
}
.infos .icon{
    width: 100px;
}
.infos img{
    width: 100%;
    padding: 10px;
}
.infos h3{
    padding: 10px;
}
.infos p{
    width: 300px;
}
.infos .btn {
    padding: 20px;
    text-align: center;
}
.infos button{
    width: 250px;
    margin-top: 10px;
    padding: 5px;
    color: #ffffffc6;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: rgba(254, 166, 33, 0.89);
    font-size: 20px;
    transition: .2s;
}
.infos button:hover{
    background-color: #ffffffc6;
    color: rgb(254, 166, 33);
}

/* service section */
.service-section{
    width: 100%;
    margin-bottom: 20px;
}
.service-section h2{
    margin: 10px;
    padding: 12px;
    border: none;
}

.service-section h2::after{
    content: '';
    width: 100px;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #000;
}
.our_service{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.our_service .box{
    width: 400px;
    padding: 10px;
}
.our_service .icon{
    width: 250px;
}
.our_service img{
    width: 100%;
    height: auto;
}

/* our-team section */

.team-section{
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(216, 214, 214, 0.418);
}
.team-section h2{
    margin: 10px;
    padding: 12px;
    border: none;
}
.team-section h2::after{
    content: '';
    width: 100px;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #000;
}

.t1{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.t1 .tbox1,.tbox2,.tbox3,.tbox4,.tbox5,.tbox6,.tbox7,.tbox8,.tbox9,.tbox10,.tbox11{
    width: 100%;
    max-width: 400px;
    height: 40vh;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: end;
    border-radius: 2%;
    transition: 1s;
}
.tbox1{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.649)),url(../img/doc11.jpg);
    background-position: center;
    background-size: cover;
}

.tbox2{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.649)),url(../img/doc2.jpg);
    background-position: center;
    background-size: cover;
}

.tbox3{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.649)),url(../img/doc3.jpg);
    background-position: center;
    background-size: cover;
}

.tbox4{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.649)),url(../img/doc4.jpg);
    background-position: center;
    background-size: cover;
}

.tbox5{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.649)),url(../img/doc5.jpg);
    background-position: center;
    background-size: cover;
}

.tbox6{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.649)),url(../img/doc6.jpg);
    background-position: center;
    background-size: cover;
}

.tbox7{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.649)),url(../img/doc7.jpg);
    background-position: center;
    background-size: cover;
}

.tbox8{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.649)),url(../img/doc8.jpg);
    background-position: center;
    background-size: cover;
}
.tbox9{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.757)),url(../img/doc9.jpg);
    background-position: center;
    background-size: cover;
}

.tbox10{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.757)),url(../img/doc10.jpg);
    background-position: center;
    background-size: cover;
}
.tbox11{
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.757)),url(../img/ceo.jpg);
    background-position: center;
    background-size: cover;
}


.team-section .t1 .text{
    width: 100%;
    text-align: start;
    color: rgba(254, 166, 33, 0.675);
    font-size: 18px;
}
.team-section .text .hidden {
    font-size: 14px;
}
.btn {
    display: flex;
    justify-content: center;
}
.btn button{
    width: 250px;
    margin-top: 10px;
    padding: 5px;
    color: #ffffffc6;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: rgba(254, 166, 33, 0.89);
    font-size: 20px;
    transition: .2s;
}
.btn button:hover{
    color: rgba(254, 166, 33, 0.89);
    background: #fff;
}

/* Contact-us_section */
.contact-us{
    padding: 20px;
    background-image: linear-gradient(45deg ,rgba(33, 23, 8, 0.89),rgba(0, 0, 0, 0.628)),url(../img/cu.jpg);
    background-position: center;
    background-size: cover;
}

.contact-us h2{
    margin: 10px;
    padding: 12px;
    color: #fff;
    border: none;
}

.contact-us h2::after{
    content: '';
    width: 100px;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #000;
}
.contact-info a{
    text-decoration: none;
    color: #000;
}
.contact-info .box{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-info .box .text{
    padding: 20px;
    margin: 5px;
    background-color: #fff;
}
.text h3{
    padding: 10px;
}
.fa-facebook,.fa-envelope{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(254, 166, 33);
    border-radius: 10%;
    transition: .3s;
}
.fa-facebook:hover{
    color: #fff;
    cursor: pointer;
    background-color: rgb(254, 166, 33);
    transform: translateY(-10%);
}
.fa-envelope:hover{
    color: #fff;
    cursor: pointer;
    background-color: rgb(254, 166, 33);
    transform: translateY(-10%);
}
.text .ci i{
    margin: 10px;
    padding: 10px;
    background-color: none;
    border: 1px solid rgb(254, 166, 33);
    border-radius: 50%;
}

.text .ci{
    margin: 10px;
    display: flex;
    align-items: center;
}

.contact-info .box .form{
    padding: 40px;    
    margin: 5px;
    background-color: #fff;  
}

.contact-info .box form{
    margin: 5px;
    padding: 10px;
}

.contact-info .box form input{
    width: 100%;
    padding: 10px;
    margin-top: 2px;
    background-color: rgba(216, 214, 214, 0.418);
    border: none;
}
.contact-info .box form textarea{
    width: 100%;
    padding: 10px;
    margin: 2px;
    background-color: rgba(216, 214, 214, 0.418);
    border: none;
    resize: none;
}
.contact-info .box button{
    padding: 10px;
    background-color: rgba(254, 166, 33, 0.89);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

hr{
    display: none;
}

@media (max-width:825px){
    .cure{
        justify-content: space-between;
    }
    .ab_cure{
        flex-direction: column-reverse;
    }
    .infos h2{
        text-align: start;
    }
    .infos .ms1{
        width: 100%;
        text-align: center;
    }
    .infos .ms1 p{
        width: 100%;
    }
    .infos .icon{
        width: 100%;
    }
    .infos .icon img{
        width: 100px;
    }
    .our_service .box{
        text-align: center;
    }
    .our_service .icon{
        width: 100%;
    }
    .our_service .icon img{
        width: 200px;
    }
    .infos,.our_service{
        text-align: center;
    }

}
@media (max-width:710px){
    .cure nav .links { 
        width: 100%;
        height: auto;
        padding: 10px;
        position: fixed;
        top: 90px;
        left: 0px;
        display: none;
        background: #fff;
        z-index: 2;
        transition: all ease-in-out .2s;
    }
    .cure nav .links a {
        display: block;
        margin-top: 10px;
        margin-right: 10px;
        border-bottom: 1px solid rgba(254, 166, 33, 0.89);
    }
    .cure nav .links a::after{
        content: '';
        display: none;
    }
    .hum-burger,.opn{
        display: block;
        z-index: 10;
    }

}
@media (max-width:630px){
    .ab_cure{
        flex-wrap: wrap;
    }
    .cure nav .links a{
        display: block;
    }
    .show-case .info h1{
        font-size: 40px;
    }
    .info button{
        width: 300px;
        font-size: 15px;
    }
    .ab_cure{
        padding: 0;
        flex-direction: column-reverse;
    }
    .ab_cure .text hr{
        margin: 10px;
        display: block;
    }

    .ab_cure .text p{
        max-width: 510px;
    }
    .ab_cure .text p{
        width: 100%;
        line-height: 25px;
    }
    .infos .ms1{
        width: 100%;
        text-align: center;
    }
    .infos .ms1 p{
        width: 100%;
    }
    .infos .icon{
        width: 100%;
    }
    .infos .icon img{
        width: 100px;
    }
    .infos button{
        width: 300px;
    }
    .our_service .box{
        text-align: center;
    }
    .our_service .icon{
        width: 100%;
    }
    .our_service .icon img{
        width: 200px;
    }
    .contact-us,.contact-info .box {
        padding: 0;
    }
    .contact-info .box .form h3,.contact-info .box .form p{
        padding: 10px;
    }
    .contact-info .box .form{
        padding: 5px;
    }
    .contact-info .box form input,.contact-info .box form textarea{
        padding: 5px;
    }
    
}


/*-- END style for home page --*/


/* Default style for all webpages - below*/

footer{
    padding: 20px;
    background-color: rgba(254, 166, 33, 0.89);
    font-size: 14px;
}
footer a{
    padding: 10px;
    text-decoration: none;
    color: #636363;
    transition: .2s;
}
footer a:hover{
    color: #000;
}