<!DOCTYPE html>
<html lang="Amharic">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} index {% endblock %}</title>
<!--Default style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<!-- Reusable style -->
    <link rel="stylesheet" href=" {% block link %} {% endblock %}">
<!-- company logo -->
<link rel="icon" type="jpg/png" href="{{ url_for('static', filename='img/logo.jpg') }}">
<!-- fontawesome icons -->
    <script src="https://kit.fontawesome.com/9a67d62607.js" crossorigin="anonymous"></script>
<!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

</head>
<body>
    <div class="cure">
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='img/sitota.png') }}" alt="picture for Sitota center for Mental Healthcare"></a>
        </div>
        <nav>
            {% block nav %} {% endblock %}
        </nav>
        
    </div>
    <main>
        {% block main %}

        {% endblock %}
    </main>

    <footer>
        &copy; 2023 | Developed by <a href=""> codetocure </a>
    </footer>

    <script src="{% block script %} {% endblock %}"></script>
</body>
</html>